<% content_for :for_head do %>
    <style>
        #teampos1 {
            background-color: #a2e86d;
        }

        #teampos2 {
            background-color: #c0f797;
        }

        #teampos3 {
            background-color: #c0f797;
        }

        #teampos4 {
            background-color: #c0f797;
        }

        #teampos5 {
            background-color: #d9fcc0;
        }

        #teampos18 {
            background-color: #ef7952;
        }

        #teampos19 {
            background-color: #ef7952;
        }

        #teampos20 {
            background-color: #ef7952;
        }
        h1 {
            text-shadow: 0px 1px 1px #4d4d4d;
            color: #222;
            font: 60px 'LeagueGothicRegular';
        }
        a {
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
            background-color: transparent;
        }
            tbody {
                font-weight: bold;
            }

    </style>
    <script>
        $(document).ready(function () {
            $(".tablesorter").tablesorter();
        });
    </script>
<% end %>

<h1 class="text-center">Tabelle</h1>
<table class="table tablesorter">
  <thead>
  <tr>
    <th style="width: 0.5em;">Pos.</th>
    <th>Name</th>
    <th>Gespielt</th>
    <th>Siege</th>
    <th>Unentschieden</th>
    <th>Niederlagen</th>
    <th>Tore für</th>
    <th>Tore gegen</th>
    <th>+/-</th>
    <th>Punkte</th>
  </tr>
  </thead>

  <tbody>
  <% @teams.each do |team| %>
      <tr id="teampos<%= team.position %>">
        <td><%= team.position %>.</td>
        <td style="vertical-align: middle"><a style="color: #1702cc;" href="<%= team_path team %>">
          <img src="assets/logos/<%= team.id %>.png" style="height: 2em"/>&nbsp;<%= team.name %>
        </a></td>
        <td><%= team.draws + team.wins + team.defeats %></td>
        <td><%= team.wins %></td>
        <td><%= team.draws %></td>
        <td><%= team.defeats %></td>
        <td><%= team.goals_scored %></td>
        <td><%= team.goals_conceded %></td>
        <td><%= team.goaldifference %></td>
        <td style="color: dodgerblue; font-style: oblique"><%= team.points %></td>
      </tr>
  <% end %>
  </tbody>
</table>
