<style>
    .table tbody tr:first-child{
        background-color: #a2e86d;
    }
    .table tbody tr:nth-child(2){
        background-color: #c0f797;
    }
    .table tbody tr:nth-child(3){
        background-color: #c0f797;
    }
    .table tbody tr:nth-child(4){
        background-color: #c0f797;
    }
    .table tbody tr:nth-child(5){
        background-color: #d9fcc0;
    }
    .table tbody tr:nth-child(18){
        background-color: #ef7952;
    }
    .table tbody tr:nth-child(19){
        background-color: #ef7952;
    }
    .table tbody tr:nth-child(20){
        background-color: #ef7952;
    }
</style>
<h1>Tabelle</h1>
<table class="table">
  <thead>
    <tr>
      <th style="width: 0.5em;">Pos.</th>
      <th>Name</th>
      <th>Gespielt</th>
      <th>Siege</th>
      <th>Unentschieden</th>
      <th>Niederlagen</th>
      <th>Tore für</th>
      <th>Tore gegen</th>
      <th>+/-</th>
      <th>Punkte</th>
    </tr>
  </thead>

  <tbody>
  <% @teams.each do |team| %>
      <tr>
        <td><%= team.position %></td>
        <td style="vertical-align: middle;color: darkblue"><a href="<%= team_path team%>">
          <img src="assets/logos/<%= team.id%>.png" style="width: 2em"/>&nbsp;<%= team.name %>
        </a></td>
        <td><%= team.draws + team.wins + team.defeats %></td>
        <td><%= team.wins %></td>
        <td><%= team.draws %></td>
        <td><%= team.defeats %></td>
        <td><%= team.goals_scored %></td>
        <td><%= team.goals_conceded %></td>
        <td><%= team.goaldifference %></td>
        <td style="color: dodgerblue; font-style: oblique"><%= team.points %></td>
      </tr>
    <% end %>
  </tbody>
</table>
