<% provide(:teamid, "#{@team.id}") %>

<script>
  $(document).ready(function () {
      $(".body").css("background-image", 'url("../assets/backgrounds/<%= @team.id %>.jpg")');
  });
</script>

<p id="notice"><%= notice %></p>

<table style="margin-top: 50px">
  <tbody>
  <tr>
    <td Style="width: 30%;vertical-align: top">
      <dl class="dl-horizontal">
        <dt>Name:</dt>
        <dd><%= @team.name %></dd>
        <dt>Position:</dt>
        <dd><%= @team.position %></dd>
        <dt>Siege:</dt>
        <dd><%= @team.wins %></dd>
        <dt>Unentschieden:</dt>
        <dd><%= @team.draws %></dd>
        <dt>Niederlagen:</dt>
        <dd><%= @team.defeats %></dd>
        <dt>Tore für:</dt>
        <dd><%= @team.goals_scored %></dd>
        <dt>Tore gegen:</dt>
        <dd><%= @team.goals_conceded %></dd>
        <dt>Tordifferenz:</dt>
        <dd><%= @team.goaldifference %></dd>
        <dt>Punkte:</dt>
        <dd><%= @team.points %></dd>
      </dl>
    </td>
    <td style="width: 70%">
      <div>
        <%= @data.html_safe %>
      </div>
    </td>
  </tr>
  </tbody>
</table>



<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>