<h1>Listing matches</h1>

<table class="table">
    <thead>
    <tr>
        <th style="width: 6.5em">Date</th>
        <th>Time</th>
        <th>Home team</th>
        <th>Score</th>
        <th>Visitor team</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    <% @matches.each do |match| %>
        <tr>
            <td><%= match.date %></td>
            <td><%= match.time.strftime "%H:%M:%S" %></td>
            <td
            <% if match.home_score>match.visitor_score %>
            style="background-color: #ccff99"
            <% elsif match.home_score==match.visitor_score %>
            style="background-color: #ccccff"
            <% else %>
            style="background-color: #E8BB6D"
            <% end %>
            ><%= match.home_team %></td>
            <td><%= match.home_score %>:<%= match.visitor_score %></td>
            <td
            <% if match.home_score<match.visitor_score %>
            style="background-color: #ccff99"
            <% elsif match.home_score==match.visitor_score %>
            style="background-color: #ccccff"
            <% else %>
            style="background-color: #E8BB6D"
            <% end %>
            ><%= match.visitor_team %></td>
            <td><%= link_to 'Show', match %></td>
            <td><%= link_to 'Edit', edit_match_path(match) %></td>
            <td><%= link_to 'Destroy', match, method: :delete, data: {confirm: 'Are you sure?'} %></td>
        </tr>
    <% end %>
    </tbody>
</table>

<br>

<%= link_to 'New Match', new_match_path %>
