<h1>Listing match_events</h1>

<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Eventtype</th>
      <th>Minute</th>
      <th>Player</th>
      <th>Spielername</th>
      <th>Score</th>
      <th>Match</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @match_events.each do |match_event| %>
      <tr>
        <td><%= match_event.id %></td>
        <td><%= match_event.eventtype %></td>
        <td><%= match_event.minute %></td>
        <td><%= match_event.player_id %></td>
        <td><%= match_event.player_name %></td>
        <td><%= match_event.score %></td>
        <td><%= match_event.match_id %></td>
        <td><%= link_to 'Show', match_event %></td>
        <td><%= link_to 'Edit', edit_match_event_path(match_event) %></td>
        <td><%= link_to 'Destroy', match_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Match event', new_match_event_path %>
